<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PruebaEPAS.Properties.Settings.Conexion" connectionString="Data Source=localhost;Initial Catalog=ProyectoResidencias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
  <add key="EPA1TiempoDeVentana" value="5"/>
  <add key="EPA1NumTransaccionesMin" value="2"/>
  <add key="EPA2NumTransaccionesMin" value="2"/>
  <add key="EPA2TiempoDeVentana" value="5"/>
  <add key="EPA3TiempoDeVentana" value="5"/>
  <add key="EPA3NumTransaccionesMin" value="3"/>
</appSettings>
</configuration>